<div class="card col-md-6" style="">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre del empleado: <%=@employee.name%></li>
    <li class="list-group-item">Apellido del empleado: <%=@employee.last_name%></li>
    <li class="list-group-item">Identificacion: <%=@employee.identification%></li>
  </ul>
</div>
<%= link_to "Regresar a empleados", employees_path%>
