<div class="card col-md-6" style="">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Codigo centro: <%=@location.id%></li>
    <li class="list-group-item">Centro: <%= @location.name%></li>
  </ul>
</div>
<%= link_to "Regresar a ubicaciones", locations_path%>
